---
import { renderRichText } from "@storyblok/astro";
import Link from "@components/navigation/Link.astro";
import { Icon } from "astro-icon/components";
import NewsletterForm from "@components/forms/NewsletterForm.vue";
import { getLangFromUrl } from "@lib/translate";
import { NEWSLETTER_ENDPOINT } from "astro:env/server";

interface Props {
  settings: SettingsStoryblok;
  lang: string;
}
const { settings } = Astro.props;

const {
  surface_footer,
  company_name,
  address,
  footer_text,
  footer_menu_1,
  footer_menu_2,
  email,
  phone,
  phone_label,
  whatsapp,
  links,
  footer_menu_1_label,
  footer_menu_2_label,
  newsletter_content,
  newsletter_in_footer,
  newsletter_thank_you = "Thank you!",
} = settings;

const showNewsletter = NEWSLETTER_ENDPOINT !== "none" && newsletter_in_footer;

const lang = getLangFromUrl(Astro.url);
---

<!-- Footer container -->
<footer class={`${surface_footer || "surfce-dark"} text-center `}>
  <div class="content-grid">
    <div
      class="breakout after:content[''] gap-6 relative flex flex-wrap items-center justify-center py-6 after:absolute after:bottom-0 after:h-px after:w-full after:bg-current after:opacity-50 md:justify-between"
    >
      <div class="block min-w-[16rem] w-fit grow @container">
        {
          showNewsletter && (
            <div class="flex flex-col-reverse items-center gap-3 text-center @sm:text-left @sm:flex-row text-balance">
              <NewsletterForm
                client:visible
                endpoint={NEWSLETTER_ENDPOINT}
                thank_you={newsletter_thank_you}
                lang={lang}
                include_main_list={false}
                opt_in={true}
                show_name_field={false}
                list=""
                className=""
                inputClass=""
              />

              <div
                set:html={renderRichText(newsletter_content)}
                class="richtext"
              />
            </div>
          )
        }
      </div>

      <ul class="flex justify-center items-center gap-2">
        {
          links &&
            links.length > 0 &&
            links.map((link) => (
              <li>
                <Link
                  blok={{
                    ...link,
                    hide_label: true,
                  }}
                  className="text-xl"
                />
              </li>
            ))
        }
        {
          whatsapp && (
            <li>
              <Link
                blok={{
                  icon: "whatsapp",
                  href: {
                    linktype: "url",
                    url: `https://wa.me/${whatsapp}`,
                  },
                  label: "WhatsApp",
                  hide_label: true,
                }}
                className="text-xl"
              />
            </li>
          )
        }
      </ul>
    </div>
  </div>

  <div class="py-10 text-center sm:text-left">
    <div class="content-grid">
      <div
        class="breakout grid-1 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
      >
        <div class="text-balance sm:max-w-[320px]">
          <!-- <Icon
            name="logo-footer"
            class="mx-auto mb-2 h-10 w-auto sm:mx-0"
            is:inline
          /> -->
          <img 
            src="/logo-dynage.svg" 
            alt="Logo" 
            class="mx-auto mb-2 h-10 w-auto sm:mx-0"
          />

          <div class="pb-4 text-sm" set:html={renderRichText(footer_text)} />

          <div class="grid gap-3 text-sm">
            {address && <p class="">{address}</p>}
            {
              email && (
                <a href={`mailo:${email}`} class="">
                  {email}
                </a>
              )
            }

            {
              phone && (
                <a href={`tel:${phone}`} class="">
                  {phone_label || phone}
                </a>
              )
            }
          </div>
        </div>
        <div
          class="flex flex-wrap justify-center gap-8 sm:justify-end lg:col-span-2"
        >
          <div class="min-w-[220px]">
            <h3
              class="mb-4 flex justify-center font-semibold uppercase sm:justify-start"
            >
              {footer_menu_1_label}
            </h3>
            <ul
              class="grid grid-cols-1 place-items-center gap-3 sm:place-items-start"
            >
              {
                footer_menu_1 &&
                  footer_menu_1.length > 0 &&
                  footer_menu_1.map((link) => (
                    <li>
                      <Link
                        blok={link}
                        className="link flex gap-1 items-center btn-underline"
                      />
                    </li>
                  ))
              }
            </ul>
          </div>

          <div class="min-w-[220px]">
            <h3
              class="mb-4 flex justify-center font-semibold uppercase sm:justify-start"
            >
              {footer_menu_2_label}
            </h3>
            <ul
              class="grid grid-cols-1 place-items-center gap-3 sm:place-items-start"
            >
              {
                footer_menu_2 &&
                  footer_menu_2.length > 0 &&
                  footer_menu_2.map((link) => (
                    <li>
                      <Link
                        blok={link}
                        className="link flex gap-1 items-center btn-underline"
                      />
                    </li>
                  ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="content-grid bg-dark/10 pb-4 pt-1 text-xs">
    <div
      class="breakout flex items-end justify-between gap-2 text-balance text-left"
    >
      <div class="opacity-70">
        <span>©{new Date().getFullYear()} </span>
        {company_name}
      </div>
    </div>
  </div>
</footer>
