---
import { Image } from "astro:assets";
import {navLinks as links, logos} from "../../data/content.ts"

import Logo from "../../assets/dynage-logo-1.svg";
import ShortForm from "../ui/ShortForm.astro";


---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div
      class="px-[15px] bg-dark text-white py-[55px] lg:px-[60px] sm:rounded-t-[45px]"
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >
          <picture>
            <a href="#home">
              <Image src={Logo} class="w-[140px] h-10" alt="Logo for Dynage Brand" />
            </a>
          </picture>
          <ul class="flex flex-col sm:flex-row gap-5">
            {
              links.map((link: any) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5">
            {
              logos.map((logo: any) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} />
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <div
            class="flex text-center lg:text-start flex-col w-full lg:w-[30%]"
          >
            <h3 class="mb-5">Contact us:</h3>
            <div class="flex flex-col justify-between gap-4">
              <span> Email: <a href="mailto:hello@dynage.technology"> hello@dynage.technology </a> </span>
            </div>
          </div>
          <div class="flex-grow my-10 lg:my-0 lg:ml-12">
            <ShortForm />
          </div>
        </div>
      </div>

      <div class="h-[1px] bg-white mb-5"></div>
      <div
        class="flex flex-col lg:flex-row h-20 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span
          >{new Date().getFullYear()} &copysr; Dynage Technologies </span
        >
        <span class="hidden lg:flex">
          <a href="#privacy" class="underline">Privacy Policy</a>
        </span>
        <span class="hidden lg:flex">
          <a href="#terms" class="underline">Terms of Service</a>
        </span>
        <span class="hidden lg:flex">
          <a href="#cookies" class="underline">Cookies Policy</a>
        </span>
      </div>
    </div>
  </div>
</section>
