---
interface Props {
	name: string;
	unitPrice: number;
	description: string;
    image: string;
    quantity: number;
	productKey: string;
}


const { name, image, description, quantity, unitPrice, productKey } = Astro.props;
console.log({ name, image, description, quantity, unitPrice});
---

<li class="product-card">
	<a href={`/product/${productKey}`}>
		<h2>
			{name}
		</h2>
		<img src={image} alt={name} />
		<p>
			${unitPrice}
		</p>
		<p>
			Available Quantity: {quantity > 0 ? quantity : 'Out of Stock'}
		</p>
		<p>
			{description?.length > 100 ? description.slice(0, 100) + '...' : description}
		</p>
	</a>
</li>

<style>
	.product-card {
		display: flex;
		flex-direction: column;
		max-width: 300px;
		justify-content: center;
		padding: 1rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin: 1rem;
	}

	.product-card img {
		width: 100%;
		max-width: 200px;
		object-fit: cover;
	}

	.product-card h2 {
		font-size: 1.5rem;
	}

	.product-card p {
		margin: 0.5rem 0;
	}

	.product-card a {
		text-decoration: none;
		color: inherit;
	}
</style>