---
import {
  storyblokEditable, 
  renderRichText,
} from "@storyblok/astro";
import  ContactFormVue from "@/components/forms/ContactFormVue.vue";

 

interface Props {
  blok: ContactFormStoryblok;
} 
const { blok } = Astro.props;
const { 
  content,
  container ,
  surface = "", 
  padding_top = "pt-lg",
  padding_bottom= "pb-lg"
} = blok;
 
 
 const renderedRichText = renderRichText(content);
---

<div {...storyblokEditable(blok)} class={`${surface} intersection`}>
  <div class={container ? "content-grid" : ""}>
    <div class={`${container} ${padding_top} ${padding_bottom} px-1` }>
            <div set:html={renderedRichText} class={`richtext max-w-2xl text-balance`} />
            <ContactFormVue lang="en"  client:load/>
    </div>
  </div>
</div>
